body {
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    text-align: center;
    
}
body { color: #b1f90a; 
    font-family: "Great Vibes", cursive; 
    font-size: 35px; 
    line-height: 80px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}
button{
    font-family: "Great Vibes", cursive;
    background-color: #d2a5b4;
    height: 55px;
    width: 150px;
    font-size: 20px ;
}
img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
  }
